body{
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#div1a{
    width:100%;
    text-align:left;
}


h3{
    display:inline;
    color:white;
}

#rules{
    float:right;
}

#start{
    font-size: 20px;
}
h4{
    background-color:#5a86b8;
    line-height: 2;
    margin: 0px;
}
.modal-body ol li{
    width: fit-content;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease;
    
}
.modal-body ol li:hover{
    background-color: rgb(66, 132, 218);
    cursor:pointer;
    
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }